body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --color-primary: #050505;
  --color-secondary: #65676b;

  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third :#e4e6eb;
  --bg-forth : #f0f2f5; 
  --divider: #ced0d4;

  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;

  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;

  --blue-color :#1876f2;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;


  --shadow-1: rgb(0, 0, 0, 0.2);
  --shadow-2: rgb(0, 0, 0, 0.1);
  --shadow-3: rgb(0, 0, 0, 0.3);
  --shadow-4: rgb(225, 225, 225, 0.5);

}

/* Button */
.blue_btn {
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  gap: 6px;
  cursor: pointer;
  background-color: var(--blue-color);
}
/* Button */
.input_error_border{
  border-color: #e51c19 !important;
}
.input_wrap{
  position: relative;
}
.input_wrap input {
  
  width: 100%;
  outline: none;
  border: 1px solid var(--bg-third);
  background-color: var(--bg-primary);
  color: var(--color-primary);
  height: 50px;
  font-size: 17px;
  border-radius: 10px;
  padding-left: 20px;
  margin-bottom:25px;
  box-sizing: border-box;
}
.input_wrap input:focus{
  border-color: #304fea ;

}
.input_wrap i {
  position: absolute;
  right: 5px;
  top: 3px;
  transform: scale(0.5);

}
.input_error {
 text-align: left;
 padding: 0 5px;
  color: #e51c19;
  position: absolute;
  background-color: var(--bg-primary);
  bottom: 12px;
  left: 15px;
  height: 3ch;
}
